.text-blue{
    color:#6178fd;
}

.btn-blue{
    background-color: #6178fd;
    color: white;
}
.btn-blue:hover{
    background-color: #485bc4;
    color: white;

}

.bg-blue{
    background-color: #6178fd;
}
.bg-ash{
    background-color: #F0F0F0;
}
.bg-lightash{
    background-color: rgb(248, 248, 248);
}