/* ----- Masthead Background ----- */

header.masthead{
    width: 100%;
    height: 15rem;
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
}   
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 576px) { 
    header.masthead{
        background-image: url("../img/Background576Hero.png");
        height: 20rem;
    }   
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    header.masthead{
        background-image: url("../img/Background768Hero.png");
        height: 25rem;
    }   
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    header.masthead{
        background-image: url("../img/Background992Hero.png");
        height: 35rem;
    }   
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    header.masthead{
        background-image: url("../img/Background Hero.png");
        height: 40rem;
        
    }   


}


header.masthead > div.masthead-content.container{
height: 70%;
}

/* html.gr__ body header.masthead div.masthead-content.container.position-relative.d-flex.flex-column.align-content-end.justify-content-end.border.border-primary div.row.position-absolute.flex-column.align-content-end.justify-content-end.border.border-light div.masthead-content-text.col-sm-3.col-md-5.mb-4.text-justify.border.border-danger p{
    color:white !important;
    background: red !important;

}

/* header.masthead > div.masthead-content.container  .row:first-child > .masthead-content-text p{
} */ */


