

.m-6{
margin: 6rem;
}
.m-7{
margin: 12rem;
}
.m-8{
margin: 24rem;
}

.mt-6{
margin-top: 6rem;
}
.mt-7{
margin-top: 12rem;
}
.mt-8{
margin-top: 24rem;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
  .mt-md-7{
    margin-top: 12rem !important;
  }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}



.mb-6{
margin-bottom: 6rem;
}
.mb-7{
margin-bottom: 12rem;
}
.mb-8{
margin-bottom: 24rem;
}