.py-6{
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}
.py-7{
    padding-top: 12rem !important;
    padding-bottom: 12rem !important;
}
.py-8{
    padding-top: 24rem !important;
    padding-bottom: 24rem !important;
}