section.app-dev > div.app-dev-container > div.row  .app-dev-cols > .img-container{
    background-color: aqua;
}
/* section.app-dev > div.app-dev-container > div.row  .app-dev-cols > .img-container > img{
    float: left;
    width: 100%;
} */