section.click-started{
    height: 500px !important;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 50%,  rgba(0, 0, 0, 0.8)  100%), url("../../img/cooperation.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}