section.customer-support{
    height:40rem;
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    /* background-color: aqua; */
}
 
@media (min-width: 576px) {
  section.customer-support{
    background-image: url("../../img/BackOne-SM-576.png");
    height:25.9rem;
  }
}
@media (min-width: 620px) {
  section.customer-support{
    height:27.9rem;
  }
}
@media (min-width: 670px) {
  section.customer-support{
    height:29.9rem;
  }
}
@media (min-width: 716px) {
  section.customer-support{
    height:32rem;
  }
}
@media (min-width: 768px) {
  section.customer-support{
    height:33.5rem;
  }
}
@media (min-width: 804px) {
  section.customer-support{
    background-image: url("../../img/BackOne-MD-768.png");
    height:35.3em;
  }
}
@media (min-width: 846px) {
  section.customer-support{
    height:35.5rem;
  }
}
@media (min-width: 852px) {
  section.customer-support{
    height:35.8rem;
  }
}
@media (min-width: 859px) {
  section.customer-support{
    height:37.9rem;
  }
}
@media (min-width: 910px) {
  section.customer-support{
    height:39.8rem;
  }
}
@media (min-width: 953px) {
  section.customer-support{
    height:41.4rem;
  }
}
@media (min-width: 992px) {
  section.customer-support{
    background-image: url("../../img/BackOne-MD-992.png");
    height:41.4rem;
  }
}
@media (min-width: 1042px) {
  section.customer-support{
    height:46.3rem;
  }
}
@media (min-width: 1110px) {
  section.customer-support{
    height:50rem;
  }
}
@media (min-width: 1200px) {
  section.customer-support{
    background-image: url("../../img/BackOne.png");
    height:52rem;
  }
}
@media (min-width: 1250px) {
  section.customer-support{
    height:54.3rem;
  }
}
@media (min-width: 1300px) {
  section.customer-support{
    height:56.3rem;
  }
}
@media (min-width: 1350px) {
  section.customer-support{
    height:56.5rem;
  }
}
@media (min-width: 1400px) {
  section.customer-support{
    height:60.4rem;
  }
}
@media (min-width: 1450px) {
  section.customer-support{
    height:62.5rem;
  }
}
@media (min-width: 1500px) {
  section.customer-support{
    height:64.5rem;
  }
}
@media (min-width: 1550px) {
  section.customer-support{
    height:66.7rem;
  }
}
@media (min-width: 1600px) {
  section.customer-support{
    height:68.8rem;
  }
}
@media (min-width: 1650px) {
  section.customer-support{
    height:70.8rem;
  }
}
@media (min-width: 1700px) {
  section.customer-support{
    height:79.2rem;
  }
}
@media (min-width: 1750px) {
  section.customer-support{
    height:75rem;
  }
}
@media (min-width: 1800px) {
  section.customer-support{
    height:77rem;
  }
}
@media (min-width: 1850px) {
  section.customer-support{
    height:79.2rem;
  }
}
@media (min-width: 1900px) {
  section.customer-support{
    height:81.2rem;
  }
}
@media (min-width: 1950px) {
  section.customer-support{
    height:83.2rem;
  }
}
@media (min-width: 2000px) {
  section.customer-support{
    height:85.5rem;
  }
}

/* POSITION FIRST CHILD */
section.customer-support > .customer-support-container > .row:first-child{
  position: relative;
  top:10%;
}

/* POSITION LAST CHILD */
section.customer-support > .customer-support-container > .row:last-child {
  position: relative;
  top:15%;
}
@media (min-width: 576px) {
  section.customer-support > .customer-support-container > .row:last-child {
    top:-15%;
  }
}
@media (min-width: 660px) {
  section.customer-support > .customer-support-container > .row:last-child {
    top:-5%;
  }
}
@media (min-width: 768px) {
  section.customer-support > .customer-support-container > .row:last-child {
    top:10%;
  }
}
@media (min-width: 992px) {
  section.customer-support > .customer-support-container > .row:last-child{
    position: relative;
    top:10%;
  }
}
@media (min-width: 1044px) {
  section.customer-support > .customer-support-container > .row:last-child{
    position: relative;
    top:15%;
  }
}

/* LAST CHILD IMAGE */
section.customer-support > .customer-support-container > .row:last-child > .customer-support-cols > .img-container > img{
  width:45%;
  max-width: 45%;
}

@media (min-width: 576px) {
  section.customer-support > .customer-support-container > .row:last-child > .customer-support-cols > .img-container > img{
    width: 75%;
    max-width: 75%;
  }
  
}






/* HEADING */
section.customer-support > .customer-support-container .row:first-child .customer-support-cols  > .customer-support-text h2{
  font-size: 1.25rem;
  color: black;
}
@media (min-width: 576px) {
  section.customer-support > .customer-support-container .row:first-child .customer-support-cols  > .customer-support-text h2{
    font-size: 1.5rem;
    color: white;
  }
}
@media (min-width: 768px) {
  section.customer-support > .customer-support-container .row:first-child .customer-support-cols  > .customer-support-text h2{
    font-size: 1.75rem;
  }
}
@media (min-width: 992px) {
  section.customer-support > .customer-support-container .row:first-child .customer-support-cols  > .customer-support-text h2{
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  section.customer-support > .customer-support-container .row:first-child .customer-support-cols  > .customer-support-text h2{
    font-size: 2.5rem;
  }
}


/* PARAGRAPH */
section.customer-support > .customer-support-container .row:first-child .customer-support-cols  > .customer-support-text p{
  width:80%;
  font-size: 1rem;
  line-height: 1.2;
  color: black;
  word-wrap: break-word;
}
@media (min-width: 576px) {
  section.customer-support > .customer-support-container .row:first-child .customer-support-cols  > .customer-support-text p{
    width:55%;
    font-size: 1rem;
    color: white;
  }
}
@media (min-width: 768px) {
  section.customer-support > .customer-support-container .row:first-child .customer-support-cols  > .customer-support-text p{
    width:80%;
  }
}
@media (min-width: 1200px) {
  section.customer-support > .customer-support-container .row:first-child .customer-support-cols  > .customer-support-text p{
    font-size: 1.3rem;
  }
}