/* Load animation */

@-webkit-keyframes 
load { 0% {
stroke-dashoffset:0
}
}
@-moz-keyframes 
load { 0% {
stroke-dashoffset:0
}
}
@keyframes 
load { 0% {
stroke-dashoffset:0
}
}

/* Container */

.pie {
  position: relative;
  display: inline-block;
  padding: 0;
  text-align: center;
  margin: 0;
}

/* Item */

.pie>li {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #93A2AC;
  font-family: Lato;
  font-weight: 100;
  margin: 0rem 2rem 1.5rem 2rem;
}

.pie>li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: -1.3rem;
  font-weight: 400;
}

.pie>li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 1.35rem;
  left: 0;
  font-size: 1.5rem;
  text-align: center;
}

.pie svg {
  width: 5rem;
  height: 5rem;
}

.pie svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

.pie svg:nth-child(2) path {
  fill: none;
  stroke-width: 25;
  stroke-dasharray: 629;
  stroke: rgba(228, 228, 228, 0.9);
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}


section.words{
  background-color: rgb(240, 240, 240);
}







/* Headding */
  .words > .words-container > .row .words-col > .words-text > h3{
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  @media (min-width: 576px) { 
    .words > .words-container > .row .words-col > .words-text > h3{
      font-size: 1.5rem;
    }
    
  }
  
  @media (min-width: 768px) { 
    .words > .words-container > .row .words-col > .words-text > h3{
      font-size: 1.75rem;
    }
  }
  
  @media (min-width: 992px) { 
    .words > .words-container > .row .words-col > .words-text > h3{
      font-size: 2rem;
    }
  }
  
  @media (min-width: 1200px) { 
    .words > .words-container > .row .words-col > .words-text > h3{
      font-size: 2.5rem;
    }
  }
  
  







/* TEXT CONTAINER WIDTH */

.words > .words-container > .row .words-col > .words-text {
  width: 75%;
}

@media (min-width: 992px) { 
  .words > .words-container > .row .words-col > .words-text {
    width: 90%;
  }
  
}


/*Paragraph */
.words > .words-container > .row .words-col > .words-text  p:first-of-type{
  font-size: 1rem;
  line-height: 1;
  word-wrap: break-word;
}
.words > .words-container > .row .words-col > .words-text  p:last-child{
  font-size: .8rem;
  line-height: 1;
  word-wrap: break-word;
}


@media (min-width: 576px) { 
  .words > .words-container > .row .words-col > .words-text  p:first-of-type{
    font-size: 1.1rem;
  }
  .words > .words-container > .row .words-col > .words-text  p:last-child{
    font-size: .95rem;
  }
  
}
@media (min-width: 1200px) {
  .words > .words-container > .row .words-col > .words-text  p:first-of-type{
    font-size: 1.2rem;
  }
  .words > .words-container > .row .words-col > .words-text  p:last-child{
    font-size: 1rem;
  }
  
}

/* IMAGE */
.words > .words-container > .row  .words-col > .img-container > img{
  width:80%;
  max-width: 80%;
}
  
@media (min-width: 992px) {
  .words > .words-container > .row  .words-col > .img-container > img{
    width:125%;
    max-width: 125%;
  }
}




