

section.e-com > div.e-com-container > div.row  .e-com-cols > .img-container > img{
  width: 20%;

}
@media (min-width: 768px) {

  section.e-com > div.e-com-container > div.row  .e-com-cols > .img-container > img{
    width: 60%;

  }
}

/* Mobile App Development Paragraph */
  section.e-com > div.e-com-container > div.row  .e-com-cols > .e-com-text > p{
    width:70%;
    font-size: 1rem;
    line-height: 1.2;
    word-wrap: break-word;
    word-break:break-all;
  }

@media (min-width: 576px) { 
  section.e-com > div.e-com-container > div.row  .e-com-cols > .e-com-text > p{
    width:80%;
    font-size: 1.1rem;
  }
}
@media (min-width: 1200px) {
  section.e-com > div.e-com-container > div.row  .e-com-cols > .e-com-text > p{
    font-size: 1.3rem;
  }
}

/* Mobile App Development Headding */
  section.e-com > div.e-com-container > div.row  .e-com-cols > .e-com-text > h1{
    font-size: 1.25rem;
  }
@media (min-width: 576px) { 
  section.e-com > div.e-com-container > div.row  .e-com-cols > .e-com-text > h1{
    font-size: 1.5rem;
  }

}

@media (min-width: 768px) { 
  section.e-com > div.e-com-container > div.row  .e-com-cols > .e-com-text > h1{
    font-size: 1.75rem;
  }
}

@media (min-width: 992px) { 
  section.e-com > div.e-com-container > div.row  .e-com-cols > .e-com-text > h1{
    font-size: 2rem;
  }
}

@media (min-width: 1200px) { 
  section.e-com > div.e-com-container > div.row  .e-com-cols > .e-com-text > h1{
    font-size: 2.5rem;
  }
}

