.jumbotron{
    background-image: linear-gradient(to top left, #8C6EC9 0%, #4088BF 100%) !important;
}
/* .jumbotron:nth-child(2){
    background-image: linear-gradient(to top left, #6EC99F 0%, #BF4099 100%) !important;
}
.jumbotron:last-child{
    background-image: linear-gradient(to bottom left, #6EA2C9 0%, #9540BF 100%) !important;
} */